/* search_bar */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
}

.header .search-bar {
    /* margin: auto; */
    position: relative;
    width: 45.5%;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}

.header .search-bar .search-history {
    position: absolute;
    border: 2px solid red;
    z-Index: 1;
    width: 75%;
    height: 250px;
    background-color: white;
}

.header .search-bar .search-button {
    padding: 2.1px 28px 2.1px 28px;
}

.header .search-bar input {
    width: 75%;
}

.header .left {
    display: inline-block;
    width: 26.5%;
}

.header .left .menu {
    display: inline-block;
    padding-top: 16px;
    padding-left: 10px;
    vertical-align: top;
}

.header .left .menu>i {
    font-size: 25px;
    opacity: 0.5;
    cursor: pointer;
}

.header .left .logo {
    display: inline-block;
    padding-left: 15px;
}

.header .left .logo>img {
    width: 110px;
}

/* video_detail */

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #5b83deb5;
    color: white;
    width: 100%;
    height: 200px;
}

.video-detail .details .content-area {
    display: inline-block;
    width: calc(100% - 50px);
}

.video-detail .details .content-area .title {
    font-size: 1.4em;
    font-family: 'Myriad pro Semibold';
    font-weight: bold;
}

.video-detail .details .content-area .description {
    display: inline-block;
    width: calc(100% - 50px);
    margin-top: 5%;
}

.video-detail .details .heart-area {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    text-align: center;
}

/* video_list */

.list-group .next-vedeo-title {
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 1.1em;
}

/* video_list_item */

.list-group-item {
    cursor: pointer;
}

/* .list-group-item:hover {
    background-color: #eee;
} */

.list-group-item .group-item {
    height: 130px;
}

.list-group-item .group-item .item-thumbnail {
    /* border: 1px solid red; */
    width: 180px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.list-group-item .group-item .item-thumbnail>img {
    width: 180px;
    height: 100%;
}

.list-group-item .group-item .item-thumbnail .play {
    background-color: rgb(128, 117, 117);
    opacity: 0.6;
    width: 180px;
    height: 130px;
    position: absolute;
    z-index: 1;
    left: 19px;
    top: 11px;
    text-align: center;
    padding-top: 48px;
}

.list-group-item .group-item .item-thumbnail .play>i {
    font-size: 40px;
    color: white;
}

.list-group-item .group-item .item-content {
    display: inline-block;
    height: 100%;
    width: calc(100% - 180px);
    vertical-align: top;
}

.list-group-item .group-item .item-content .item-title {
    /* border: 1px solid blue; */
    display: inline-block;
    height: 100%;
    width: 90%;
    vertical-align: top;
    padding-left: 5px;
    font-size: 0.9em;
    font-family: 'Myriad pro Semibold';
    font-weight: bold;
}

.list-group-item .group-item .item-content .item-dots {
    /* border: 1px solid green; */
    display: inline-block;
    width: 10%;
    height: 100%;
    vertical-align: top;
}

.list-group-item .group-item .item-content .item-dots>span {
    position: relative;
    background-color: rgba(100, 100, 100, 0.459);
    border-radius: 5px;
    font-size: 0;
    margin-left: 5px;
    padding: 3px;
    margin-left: 10px;
    margin-top: 20px;
}

.list-group-item .group-item .item-content .item-dots>span::before {
    position: absolute;
    left: 12px;
    top: -13px;
    left: 0;
    content: '';
    background-color: rgba(100, 100, 100, 0.459);
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
}

.list-group-item .group-item .item-content .item-dots .dots::after {
    position: absolute;
    left: 0;
    top: 13px;
    content: '';
    background-color: rgba(100, 100, 100, 0.384);
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
}

.menuBar {
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: white;
    transform: translateX(0);
    top: 54px;
    bottom: 0;
    transition-duration: 0.2s;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
}

.menuBar.close {
    transform: translateX(-250px);
    box-shadow: 0 0 0 100vmax transparent;
}

.menuBar .menu-list {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    height: 100%;
}

.menuBar .menu-list>li {
    width: 100%;
    height: 55px;
    font-size: 16px;

    text-align: left;
    padding-left: 13px;
}

.menuBar .menu-list>li:hover {
    background-color: rgb(230, 228, 228);
    cursor: pointer;
}

.menuBar .menu-list>li>i {
    font-size: 17px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    color: #b9b9b9;
}

/* HearT */

#heart {
    max-height: 70px;
    width: 40px;
    fill: white;
    stroke: white;
    cursor: pointer;
}

.heartscale {
    animation: heart-beat .75s alternate forwards;
    stroke-width: 0px;
    animation-iteration-count: 2;
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
        fill: #D22128;
    }
    50% {
        transform: scale(1.2);
        fill: #D22128;
    }
    100% {
        transform: scale(1);
        fill: #D22128;
    }
}

.bands {
    animation: snap 1s forwards;
    stroke-width: 0;
}

@keyframes snap {
    from {
        transform: scale3d(1, 1, 1);
        filter: brightness(0.5);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
        fill: #D22128;
        filter: brightness(1);
    }
}