/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.search-bar {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.search-bar .search-button {
    padding: 2.1px 28px 2.1px 28px;
}

.search-bar input {
    width: 75%;
}

.b>img {
    width: 100%;
    height: 100%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.video-list-media div {
    display: inline-block;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.a {
    height: 130px;
}

.b {
    border: 1px solid red;
    width: 30%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.c {
    border: 1px solid blue;
    width: 65%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.d {
    margin-left: 10px;
    font-size: 13px;
}

.e {
    border: 1px solid green;
    display: inline-block;
    width: 5%;
    height: 100%;
}

.e>span {
    position: relative;
    background-color: rgba(100, 100, 100, 0.459);
    border-radius: 5px;
    font-size: 0;
    /* margin-left: 5px; */
    padding: 3px;
    margin-left: 10px;
    margin-top: 20px;
}

.e>span::before {
    position: absolute;
    left: 12px;
    top: -13px;
    left: 0;
    content: '';
    background-color: rgba(100, 100, 100, 0.459);
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
}

.e .dots::after {
    position: absolute;
    left: 0;
    top: 13px;
    content: '';
    background-color: rgba(100, 100, 100, 0.384);
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
}

.f {
    background-color: gray;
    opacity: 0.8;
    width: 175px;
    height: 130px;
    position: absolute;
    z-index: 1;
    left: 19px;
    top: 11px;

    text-align: center;
    padding-top: 48px;
}

.f>i {
    font-size: 40px;
    color: white;
}