/* search_bar */
.search-bar {
    margin: auto;
    width: 50%;
    padding: 20px;
}

.search-bar .search-button {
    padding: 2.1px 28px 2.1px 28px;
}

.search-bar input {
    width: 75%;
}

/* video_detail */
.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* video_list_item */
.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.list-group-item .group-item {
    height: 130px;
}

.list-group-item .group-item .item-thumbnail {
    border: 1px solid red;
    width: 180px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.list-group-item .group-item .item-thumbnail>img {
    width: 180px;
    height: 100%;
}

.list-group-item .group-item .item-thumbnail .play {
    background-color: gray;
    opacity: 0.8;
    width: 180px;
    height: 130px;
    position: absolute;
    z-index: 1;
    left: 19px;
    top: 11px;
    text-align: center;
    padding-top: 48px;
}


.list-group-item .group-item .item-thumbnail .play>i {
    font-size: 40px;
    color: white;
}

.list-group-item .group-item .item-content {
    display: inline-block;
    height: 100%;
    width: calc(100% - 180px);
    vertical-align: top;
}

.list-group-item .group-item .item-content .item-title {
    border: 1px solid blue;
    display: inline-block;
    height: 100%;
    width: 360px;
    vertical-align: top;
    padding-left: 5px;
}

.list-group-item .group-item .item-content .item-dots {
    border: 1px solid green;
    display: inline-block;
    width: calc(100% - 360px);
    height: 100%;
    vertical-align: top;
}

.list-group-item .group-item .item-content .item-dots>span {
    position: relative;
    background-color: rgba(100, 100, 100, 0.459);
    border-radius: 5px;
    font-size: 0;
    /* margin-left: 5px; */
    padding: 3px;
    margin-left: 10px;
    margin-top: 20px;
}

.list-group-item .group-item .item-content .item-dots>span::before {
    position: absolute;
    left: 12px;
    top: -13px;
    left: 0;
    content: '';
    background-color: rgba(100, 100, 100, 0.459);
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
}

.list-group-item .group-item .item-content .item-dots .dots::after {
    position: absolute;
    left: 0;
    top: 13px;
    content: '';
    background-color: rgba(100, 100, 100, 0.384);
    border-radius: 5px;
    font-size: 0;
    padding: 3px;
}